<nav class="navbar px-5 bg-light">
    <h1 class="text-primary fw-bold" style="cursor: pointer" routerLink="/">E-Comm</h1>
    <div class="w-50">
        <div class="input-group" *ngIf="menuType !== 'seller'">
            <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" class="form-control border-primary" placeholder="Search Products">
            <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-primary" type="button">Search</button>
        </div>
        <div class="card mt-2 position-absolute w-50" style="z-index: 1" *ngIf="searchResult">
            <ul *ngFor="let item of searchResult" class="list-unstyled">
                <li>
                    <a (mousedown)="redirectToDetails(item.id)" class="p-2 mt-1 text-decoration-none text-black d-inline-block">{{ item.name }}</a>
                </li>
                <!-- <li *ngIf="!searchResult">
                    <a class="p-2 mt-1 text-decoration-none text-black d-inline-block">Item not found{{ item.name }}</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div [ngSwitch]="menuType">
        <ul class="d-flex list-unstyled mb-0 align-items-center" *ngSwitchCase="'default'">
            <li><a class="text-primary p-3 text-decoration-none" routerLink="/seller-auth">Seller</a></li>
            <li><a class="text-primary p-3 text-decoration-none" routerLink="/">Home</a></li>
            <li><a class="text-primary p-3 text-decoration-none" routerLink="user-auth">Login/Sign-up</a></li>
            <li><a class="text-primary p-3 text-decoration-none" href="#">Cart ({{cartItem}})</a></li>
        </ul>
        <ul class="d-flex list-unstyled mb-0 align-items-center" *ngSwitchCase="'user'">
            <li><a class="text-primary p-3 text-decoration-none" routerLink="/seller-auth">Seller</a></li>
            <li><a class="text-primary p-3 text-decoration-none" routerLink="/">Home</a></li>
            <li><a class="text-primary p-3 text-decoration-none">{{userName | titlecase}}</a></li>
            <li><a class="text-primary p-3 text-decoration-none" style="cursor: pointer" routerLink="/my-orders">Orders</a></li>
            <li><a class="text-primary p-3 text-decoration-none" style="cursor: pointer" (click)="userLogout()">Logout</a></li>
            <li><a class="text-primary p-3 text-decoration-none" [routerLink]="cartItem > 0? 'cart' : null">Cart({{cartItem}})</a></li>
        </ul>
        <ul class="d-flex list-unstyled mb-0 align-items-center" *ngSwitchCase="'seller'">
            <li><a class="text-primary p-3 text-decoration-none" routerLink="/seller-add-products">Add Products</a></li>
            <li><a class="text-primary p-3 text-decoration-none" routerLink="seller-home">List</a></li>
            <li><a class="text-primary p-3 text-decoration-none" href="#" (click)="logout()">Logout</a></li>
            <li><a class="text-primary p-3 text-decoration-none" href="#">{{ sellerName | titlecase }}</a></li>
        </ul>
    </div>
</nav>