<div class="container">
    <h3 class="text-center mt-3 mb-3">My Orders</h3>
    <div class="">
        <div class="row pb-2 fw-bold bg-light">
            <div class="col-2">
                <span>Order</span>
            </div>
            <div class="col-2">
                <span>Order Id</span>
            </div>
            <div class="col-3">
                <span>Price</span>
            </div>
            <div class="col-3">
                <span>Status</span>
            </div>
            <div class="col-2">
                <span>Action</span>
            </div>
        </div>
        <div class="row align-items-center pb-2  border-bottom" *ngFor="let order of orderData">
            <div class="col-2">
                <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-shopping-cart_90604.png" style="width: 60px;" class="rounded">
            </div>
            <div class="col-2">
                <span>{{order.id}}</span>
            </div>
            <div class="col-3">
                <span>{{order.totalPrice}}</span>
            </div>
            <div class="col-3">
                <span>In progress</span>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" (click)="cancelOrder(order.id)">Cancel Order</button>
            </div>
        </div>
    </div>
</div>
