<div class="signup d-flex justify-content-center align-items-center">
    <div *ngIf="!showLogin" class="col-3 d-flex align-items-center justify-content-between flex-column" style="width: 380px">
        <h1 class="mb-3 text-primary fw-bold">Sign-Up</h1>
        <form class="col-10" #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
            <input class="form-control mb-3" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="form-control mb-3" type="email" ngModel name="email" placeholder="Enter Email">
            <input class="form-control mb-3" type="password" ngModel name="password" placeholder="Enter Password">
            <button class="btn btn-success w-100">SignUp</button>
            <a class="mt-2 text-decoration-none text-black d-block text-center">Already Have Account? <span class="text-primary pe-auto" role="button" (click)="openLogin()">Click to Login</span></a>
        </form>
    </div>
    <div *ngIf="showLogin" class="col-3 d-flex align-items-center justify-content-between flex-column" style="width: 380px">
        <h1 class="mb-3 text-primary fw-bold">Login</h1>
        <form class="col-10" #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
            <input class="form-control mb-3" type="email" ngModel name="email" placeholder="Enter Email">
            <input class="form-control mb-3" type="password" ngModel name="password" placeholder="Enter Password">
            <button class="btn btn-success w-100">Login</button>
            <p class="text-center text-danger p-0 m-0 mt-2">{{ authError }}</p>
            <a class="mt-2 text-decoration-none text-black d-block text-center">Don't Have Account? <span class="text-primary pe-auto" role="button" (click)="openSignup()">Click to Sign-Up</span></a>
        </form>
    </div>
</div>