<ngb-carousel *ngIf="popularProducts">
    <ng-template *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper" style="height: calc(100vh - 72px)">
        <a routerLink="/details/{{item.id}}">
          <img src=" {{ item.url }} " alt="Random first slide" class="img-fluid" style="object-fit: cover;">
        </a>
      </div>
      <div class="carousel-caption">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="container p-3">
    <h1 class="text-center">Trendy Products</h1>
    <div class="row">
      <div class="col-3 mb-4" *ngFor="let item of trendingProducts">
        <div class="border p-3">
          <div style="height: 200px; width: 100%;overflow: hidden">
            <img src="{{ item.url }}" alt="{{ item.name}}" class="img-fluid" style="object-fit: cover;">
          </div>
          <h3 class="text-center">{{ item.name }}</h3>
          <h4>{{ item.price }}</h4>
          <p>{{ item.description }}</p>
          <div class="d-flex justify-content-between px-3">
            <a routerLink="/details/{{item.id}}" class="text-decoration-none" href="">View Details</a>
            <a class="text-decoration-none" href="">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>